body {
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: monospace;
    font-weight: 300;
}

.line{
    height: 6px;
    background-color: orange;
    width: 70px;
    margin: 8px auto;
}

.app{
    background-color: aquamarine;
}